{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ZN | Era</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://assets.squarespace.com/universal/default-favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"
    />
  </head>
  <body class="no-scroll">
    <div id="main" class="main"></div>
    <script id="p_imgs" type="application/json">[{% for project_image in project_images %}{% thumbnail project_image.image 400x400 as thumb %}
      {
        "name": "{{ project_image.project.name }}",
        "src":"{{ thumb.url }}", 
        "width":{{ thumb.width }}, 
        "height":{{ thumb.height }},
        "type": {{ project_image.project.project_type.pk }}
      }{% if not forloop.last %},{% endif %}{% endfor %}]
    </script>
    <script id="first-render" type="application/json">true</script>
    {{project_types|json_script:"p_types"}}
    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>