body {
  margin: 0px;
  font-size: 18px;
  font-size: 1.16279vw;
  font-family: Graphik,Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
    width: 100vw;
    height: 100vh;
    background: #fff;
}

/* #index-logo {
    position: relative;
    left: 50vw;
    top: 50vh;
} */

/* .index-logo {
    width: 100%;
    transform: translate(-50%, -50%);
} */

* {
    box-sizing: border-box;
  }
/* .masonry {
  cursor: grab;
}

.masonry:active {
  cursor: grabbing;
} */

img {
  pointer-events: none;
}

.nav {
  font-size: 16px;
  font-family: Graphik,Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  letter-spacing: -.03em;
  display: flex;
  background: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgb(0 0 0 / 9%);
  position: fixed;
  top: 0;
  left: 50%;
  width: auto;
  height: auto;
  color: #1d1d1d;
  margin: 3.33333vw 0 0;
  z-index: 8;
  white-space: nowrap;
  -webkit-transform: translate3d(-50%,0,0);
  transform: translate3d(-50%,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 1;
  -webkit-transition: opacity 1s .5s;
  transition: opacity 1s .5s;
}

.nav-divider {
  height: 20px;
  width: 1px;
  background: rgba(0,0,0,.15);
  margin-left: 5px;
  margin-right: 5px;
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #000;
  cursor: pointer;
}


.card {
  position: fixed;
  top: 14.33333vw;
  left: 50%;
  width: 80vw;
  height: auto;
  border-radius: 8px;
  z-index: 9;
  overflow: hidden;
  margin: auto;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  padding: 6.66667vw;
  font-size: 20px;
}

.menu-item {
  display: block;
  width: 100%;
  margin-bottom: .2em;
}

.menu-link {
  cursor: pointer;
  /* font-size: 20px; */
  /* font-size: 1.55039vw; */
  font-family: Optima,Helvetica,Arial,sans-serif;
  font-weight: 500;
  letter-spacing: -.05em;
  text-shadow: -2px -1px 0 #fff, -2px 0 0 #fff, -2px 1px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, 0 -2px 0 #fff, 0 -1px 0 #fff, 0 0 0 #fff, 0 1px 0 #fff, 0 2px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 2px -1px 0 #fff, 2px 0 0 #fff, 2px 1px 0 #fff;
  line-height: 1.4em;
  position: relative;
  display: inline-block;
  color: #000;
}

.p-title {
    font-size: 24px;
    font-family: Optima,Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: -.05em;
    margin-top: 4.65116vw;
}

/* .menu-superscript {
  font-size: 10px;
  font-size: .64599vw;
  font-family: Graphik,Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  text-shadow: none;
  padding: .2em;
  line-height: 1;
} */

.menu-item-sup {
  margin-left: 5px;
  font-size: smaller;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

/* .img-container {
  overflow: hidden;
  transition: transform 0.5s, filter 0.5s, opacity 0.5s;
}

.img-container:hover {
  transform: scale(1.01) !important;
  transform-origin: 50% 50% !important;
}

.img-container img {
  display: block;
  transition: transform 0.5s;
}

.img-container:hover img {
  transform: scale(1.02);
  transform-origin: 50% 50%;
}

.defocused {
  filter: grayscale(100%);
  opacity: 0.5 !important;
} */

.padding-res {
  padding-top: 13.95349vw;
}

@media only screen and (min-width: 1024px) {
  .nav {
      margin-top: 2.32558vw;
      font-size: 19px;
      line-height: 21px;
  }
  .card {
    top: 4.32558vw;
    width: 446.512px;
  }
  .menu {
    padding: 2.32558vw;
    font-size: 24px;
  }
  
  .p-title {
    font-size: 36px;
    font-size: 2.32558vw;
    font-family: Optima,Helvetica,Arial,sans-serif;
    font-weight: 500;
    letter-spacing: -.05em;
    margin-top: 1.16279vw;
  }
}